<div class="author">
  <h1 class="author-heading">Hi, I am Tarek.</h1>
  <p class="author-body">Full stack web developer and memes addict.</p>
</div>

<img src="/assets/hero-image.webp" alt="person looking out through window" class="hero-img" width="981" height="528">

<section class="articles">
  <h2 class="articles-heading">Lastest Posts</h2>

  <ul class="article-ul">
    <% datas.forEach(post => { %>
      <li>
        <a href="/api/main/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list-date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
    <a href="/api/main/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
</section>