<div class="author">
  <h1 class="author-heading">Hi, I am Tarek.</h1>
  <p class="author-body">Full stack web developer and memes addict.</p>
<div/>

<img src="/assets/hero-image.webp" alt="person looking out through window" class="hero-img" width="981" height="528">

<section class="articles">
  <h2 class="articles-heading">Lastest Posts</h2>

  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list-date">Date</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list-date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>